<!--DOCTYPE html-->

<html>
    <head>
        <title>Rachael Wisecarver</title>
    </head>
    <body>
        <header>
            <h1><a href={{ request.route_url('list') }}>User Model Gist</a></h1>
            <nav>
                <ul>
                    {% if not request.authenticated_userid %}
                        <li><a href={{ request.route_url('login') }}>Login</a></li>
                        <li><a href={{ request.route_url('register') }}>Register</a></li>
                    {% else %}
                        <li><a href={{ request.route_url('logout') }}>Log Out</a></li>
                        <li><a href={{ request.route_url('profile') }}>See Profile</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>