{% extends "layout.jinja2" %}

{% block body %}
    <main>
        <article class="post">
            <h1> Hello </h1>
            <h2> This is the home page. </h2>
            <h3> Everyone should be able to see this. </h3>  
        </article>
    </main>
{% endblock %}