{% extends "layout.jinja2" %}

{% block body %}

    <h2> Register </h2>
    <form method="POST" action="" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
        <label for="first_name"> First Name: </label>
        <input type="text" name="first_name"/>
        <br>
        <br>
        <label for="last_name"> Last Name: </label>
        <input type="text" name="last-name"/>
        <br>
        <br>
        <label for="username"> Username: </label>
        <input type="text" name="username"/>
        <br>
        <br>
        <label for="password"> Password: </label>
        <input type="password" name="password"/>
        <br>
        <br>
        <label for="favorite_food"> Favorite Food: </label>
        <input type="text" name="favorite_food"/>
        <br>
        <br>
        <input type="submit" name="Login"/>
    </form>

{% endblock %}